#root {
  max-width: 1600px;
  margin: 0 20px 20px 20px;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
  background-color: #242424;
}
.artwork-container {
  max-width: 1600px; 
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.artwork-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.artwork-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#exhibition-link {
  color: #fff;
  font-size: large;
}
#exhibition-link:hover {
  color: #535bf2;
}
.search-bar {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: #3a3a3a;
  padding: 10px;
  border-color: #1a1a1a;
  border-style: double;
}
.search-bar:hover {
  border-color: #646cff;
}
#sort-options {
  padding: 5px;
  background-color: #242424;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: border-color 0.25s;
  cursor: pointer;
  font-family: inherit;
}
#sort-options:hover {
  border-color: #646cff;
}
.sort-box {
  align-self: flex-start;
  margin-bottom: 20px;
  width: auto; 
}

.ReactModal__Overlay {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body {
  display: flex;
  flex-direction: row;
  height: calc(90vh - 80px);
  overflow: auto;
}
.modal-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.modal-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
}
#modal-h1{
padding: 0;
font-size: 40px;
}
#modal-h2 {
  font-size: 30px;
}
#top-modal-info {
  padding-bottom: 20px;
}
.modal-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30x;
}
#modal-description {
padding-bottom: 20px;
}
#modal-link {
  padding-top: 20px;
}
.modal-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
    height: auto;
  }
  .modal-image {
    width: 100%;
    padding: 20px;
  }
  .modal-info {
    padding: 20px;
    font-size: 16px;
  }
  #modal-h1 {
    font-size: 30px;
  }
  #modal-h2 {
    font-size: 20px;
  }
}
